html 
{  
    height: 100%;     
} 

body {
    background-image: url("../img/fondo.jpg"); /*url("http://localhost:7919/img/fondo.jpg");*/ /*url("SIP/img/fondo.jpg");*/ 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:auto;
    background-position:center;
         
}

/*no-repeat center center*/
/*url( 'SIP/img/fondo.jpg' )*/


